body {
  font-family: 'Lato', sans-serif;
}
.user {
  color: rgb(233, 85, 66);
  font-size: 17px;
}

nav {
  padding: 5px !important;
}
.navbar-brand img {
  height: 50px;
  width: 50px;
}
.user-icon {
  background-color: white;
  border-radius: 50%;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  cursor: pointer;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  border: none;
}
.user-icon a {
  color: red;
  text-transform: uppercase;
}
.article-title {
  letter-spacing: 0.1rem;
  color: grey;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
}

.user a {
  color: rgb(233, 85, 66);
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}

.container img {
  height: 50%;
  width: 60%;
}

.article-body {
  font-size: 15px;
  letter-spacing: 0.1rem;
}
